<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Comments</title>
</head>

<body>
    <% if (!user) { %>
        <div class="header" style="display:flex; justify-content: space-between;">
            <h1><a href="/"><img src="/Jeddit-Logo.png" alt="Jeddit" style="height:60px;"/></a></h1>
            <a href="/login">Log in</a>
            <a href="/signup">Sign Up</a>
            <a href="/subs/list">Browse Subs</a>
        </div>
        <% } else { %>
            <div class="header" style="display:flex; justify-content: space-between;">
                <h1><a href="/"><img src="/Jeddit-Logo.png" alt="Jeddit" style="height:60px;"/></a></h1>
                <a href="/posts/create">Create a Post!</a>
                <a href="/subs/list">Browse Subs</a>
                <form method="POST" action="/logout">
                    <button type="submit">Log Out</button>
                </form>
            </div>
            <% } %>

                <h2>
                    <%= contentUser.uname %>'s Comments
                </h2>
                <ul>
                    <% userComments.forEach(comment=> { %>
                        <li>
                            <%= comment.description %> <a href="/posts/show/<%= comment.post_id %> ">See Post</a>
                        </li>
                        <% }) %>
                </ul>

</body>

</html>